@tailwind base;
@tailwind components;

@font-face {
  font-family: 'NiveauGrotesk';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/NiveauGroteskRegular.woff2) format('woff2');
  /* font-display: swap; */
}

@tailwind utilities;

@layer base {
  body {
    @apply bg-melon font-sans;
  }

  h3 {
    @apply font-bold text-center text-3xl mb-2 md:text-4xl xl:text-5xl;
  }

  h2 {
    @apply font-bold text-center text-3xl mb-2 md:text-4xl xl:text-5xl;
  }

  label {
    @apply text-moss mb-1 text-sm lg:text-base;
  }
  input {
    @apply placeholder-moss placeholder-opacity-50 rounded-2xl bg-grass pl-2 h-8 text-xs md:py-5 md:text-base;
  }
}

@layer components {
  .navIcon {
    @apply w-4 h-4 rounded-sm md:w-6 md:h-6;
  }

  .descText {
    @apply md:text-lg lg:text-xl;
  }

  .otherText {
    @apply md:text-base lg:text-lg;
  }
}
