@tailwind base;
@tailwind components;

@font-face {
  font-family: 'NiveauGrotesk';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/NiveauGroteskRegular.woff2) format('woff2');
  /* font-display: swap; */
}

@tailwind utilities;

@layer base {
  body {
    @apply bg-melon;
  }
}

body {
  @apply font-sans;
}
